.container {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
    padding: 0;
    list-style: none;
}

.btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    max-width: 150px;
    margin: 10px 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #E74C3C;
    border-radius: 8px;
    background-color: #646CFF;
    box-shadow: inset rgba(0, 0, 0, 0.541) -3px -3px 8px,
    inset rgba(255, 253, 253, 0.9) 3px 3px 8px,
    rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
}

.btn:hover {
    box-shadow: 0 0 10px 0 #527C82 inset, 0 0 10px 4px #527C82;
}

.btn:hover,
.btn:focus {
    outline: 0;
}

.link {
    padding: 10px;
}

.detail {
    display: flex;
    flex-direction: row;
}

.img {
    width: 300px;
    height: 450px;
}

.text {
    margin: 0 20px;
}

h3 {
    gap: 10px;
}
