.container {
    margin: 30px auto 20px;
    text-align: center;
}

.input {
    width: 250px;
    height: 35px;
    padding: 8px 20px;
    color: #1A1A1A;
    border-radius: 8px;
}

.btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    width: 150px;
    height: 53px;
    margin: 0 10px 15px;
    padding: 10px 20px 10px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #6483FF;
    border-radius: 8px;
    background-color: #646CFF;
    box-shadow: inset rgba(0, 0, 0, 0.541) -3px -3px 8px,
    inset rgba(255, 253, 253, 0.9) 3px 3px 8px,
    rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
}

.btn:hover {
    background-color: #6483FF;
    box-shadow: 0 0 10px 0 #527C82 inset, 0 0 10px 4px #527C82;
}

.btn:focus {
    outline: 0;
}