#root {
    max-width: 1440px;
    margin: 0 auto;
}

.nav {
    display: flex;
}

.link {
    text-decoration: none;
    color: #1A1A1A;
}

.link:hover {
    text-decoration: underline;
}

.active {
    color: #FF0000
}

div {
    width: 100%;
}